.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  width: calc(50% - 8px);
  height: 265px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
}

.card-content {
  color: white;
  font-weight: 500;
}

h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  z-index: 999999;
}
